
<h3><%= @post.title %></h3>
<img src="<%= @post.image_url %>" alt="<%= @post.title %>" height="400" width="400">
<h6>Created At: <%= @post.created_at %></h6>
<br><br>
<p><%= @post.description %></p>
<p>By: <%= @post.user.name %></p>

<% if authorized_to_edit?(@post) %>

<a href="/posts/<%= @post.id %>/edit">Edit Post</a>
<br><br>
<form class="" action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Post">
</form>

<% end %>