<h3 style="text-align:center"><strong><%= @post.title %><strong></h3>
  <img src="<%= @post.image_url %>" alt="<%= @post.title %>" class="center" height="auto"; width="50%">
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<h6 style="text-align:center">Created At: <%= @post.created_at %></h6>
  <br><br>
  <p style="text-align:center"><strong><%= @post.description %></strong></p>
  <p style="text-align:center"><a href="/profiles"><strong>By: <%= @post.user.name %></strong></a></p>
  
<% if authorized_to_edit?(@post) %>
  <a href="/posts/<%= @post.id %>/edit">Edit Post</a>
  <br><br>
  <form class="" action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete Post">
  </form>
<% end %>